:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-size: 100%;
}

body {
  background: linear-gradient(135deg, #fef6e4, #e0f2fe);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.button {
  padding: 10px 18px;
  font-size: 16px;
  color: white;
  background: linear-gradient(135deg, #f6d365, #fda085);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-button:hover {
  background: linear-gradient(135deg, #fda085, #f6d365);
  transform: scale(1.05);
}

.search-button:active {
  transform: scale(0.95);
}

.error-button {
  display: block;
  margin: 0 auto;
  background: #d8000c;
}

.error-message {
  text-align: center;
  background: #ffecec;
  border: 1px solid #ff9c9c;
  color: #d8000c;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .button {
    width: 100%;
  }
}